/* src/styles/globals.css */

/* Tailwind v4 */
@import "tailwindcss";


@theme {
  --color-brand: #2563eb;       /* синий (blue-600) */
  --color-brand-dark: #1d4ed8;  /* синий потемнее (blue-700) */
  --color-accent: #f97316;      /* оранжевый (orange-500) */
  --color-success: #16a34a;     /* зелёный (green-600) */
}


@layer components {
   .btn { @apply bg-gray-100 text-gray-800 font-medium px-3 py-2 rounded-md hover:bg-gray-200; }
    .btn-primary { @apply bg-accent text-white font-semibold px-4 py-2 rounded-md hover:brightness-110; }
    .btn-success { @apply bg-success text-white font-semibold px-4 py-2 rounded-md; }
    .btn-danger { @apply bg-red-600 text-white font-semibold px-3 py-2 rounded-md hover:bg-red-700; }
}